extends layout

block content
  h1= title 
  <br>

  if category_list.length
    ol(class='category-container')
      each category, index in category_list
        li(class='category-li')
          button(class='category-btn') #{index + 1}. #{category.name}
          div(class='margin-left category-controls') 
            a(href=category.url+'/update')
              button.btn.btn-primary Update
            form(method='POST', action=`${category.url}/delete`)
              a(href=category.url+'/delete')
                button.btn.btn-primary(type='submit', class='category-delete-btn btn-danger') Remove
      a(href='/catalog/categories/new-category')
        button.btn.btn-primary Add new category
  else 
    p There are no categories to display. How about adding some?
    a(href='/catalog/categories/new-category')
      button.btn.btn-primary Add new category