extends layout

block content
  h1= title 
  <br>

  if item_list.length
    div(class='items-container')
      each item in item_list
        div(class='item')
          div(class='item-content')
            div(class='placeholder-image-container')
              img(src="/images/cat-placeholder-img.jpg", alt="Placeholder image", class='item-img')
            div(class='item-informations-container')
              h4 #{item.name}
              p #[strong Description: ]#{item.description}
              p #[strong Price: ]#{item.price} $
              p #[strong In stock: ]#{item.inStock}
              p #[strong For animals: ]
              ol 
                each pet in item.for 
                  li #{pet.name}
              p #[strong Food categories: ]
              ol 
                each category in item.category 
                  li #{category.name}
          div(class='item-forms')
            form(, class='remove-form')
              label(for="password", class='password-label') Password:
              input.password(type="password", placeholder='Enter password', required, class='password-input', name='password') 

              a(href=item.url+'/update')
                button.btn.btn-primary(type='submit', formmethod='GET', formaction=`${item.url}/update?password=${password}`) Update

              a(href=item.url+'/delete')
                button.btn.btn-primary(type='submit', class='item-delete-btn btn-danger', formaction=`${item.url}/delete`, formmethod='POST') Remove
  else 
    p There are no items to display. How about adding some?
    a(href='/catalog/items/new-item')
      button.btn.btn-primary Add new category