extends layout

block content
  h1= title 
  <br>

  if pet_list.length
    ol(class='pet-container')
      each pet, index in pet_list 
        li(class='pet-li')
          button(class='pet-btn') #{index + 1}. #{pet.name}
          div(class='margin-left pet-controls') 
            form(, class='remove-form')
              label(for="password", class='password-label') Password:
              input.password(type="password", placeholder='Enter password', required, class='password-input', name='password') 

              a(href=pet.url+'/update')
                button.btn.btn-primary(type='submit', formmethod='GET', formaction=`${pet.url}/update?password=${password}`) Update

              a(href=pet.url+'/delete')
                button.btn.btn-primary(type='submit', class='pet-delete-btn btn-danger', formaction=`${pet.url}/delete`, formmethod='POST') Remove


      a(href='/catalog/pets/new-pet', class='new-pet-btn')
        button.btn.btn-primary Add new pet
  else 
    p There are no pets to display.